
/* The container element of the tree */
.tv-container {
    overflow: auto;
    /* Add custom style here */
}

/* Each line in the tree */
.tv-line {
    cursor: default;
    user-select: none;
    font-family: "Lucida Console", Monaco, monospace;
    white-space: pre;
    line-height: normal;
    margin: 0;
    padding: 0;
    /* Add custom style here */
}

/* Lines which are folders, collapsible */
.tv-folder {
    font-weight: bold;
    /* Add custom style here */
}

/* Lines which are empty folders, not colapsible */
.tv-empty {
    /* Add custom style here */
}

/* Lines which are files */
.tv-file {
    /* Add custom style here */
}

/* Selected lines */
.tv-marked {
    background-color: #fff9db;
    /* Add custom style here */
}

